.img-container{
    display: flex;
    margin: 2rem 0;
}

.container{
    padding: 0 10rem;
    font-family: 'Roboto', sans-serif;
    color: #e0e1ddff;
    font-size: 15px;

}
.img1{
    width: 20%;
    border-radius: 50%;
    margin: auto;
} 