.img-container{
    display: flex;
    margin: 2rem 0;
}

.container{
    padding: 0 10rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;

}
.img1{
    width: 20%;
    border-radius: 50%;
    margin: auto;
} 