
.contact-container{
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  div.mb-3{
    width: 60%;
  }
  form{
    margin: auto;
    width: 40%;
  
  }
  .btn-container{
    margin: auto;
  }
  /* CSS */
  .button {
    background-color: #fff;
    background-size: 4px 3px;
    border-width: 2px;
    border: none;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    color: #41403e;
    cursor: pointer;
    padding: .75rem;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
  }
  
  .button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translated(0, 2px, 0);
  }
  
  .button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }