.resume-container{
    display: flex;
    flex-direction: column;
    margin: auto;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.front-end{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
}
.resume-btn{
    margin: auto;
    cursor: pointer;
    margin-bottom: 5px;

}